[Unit]
Description=Chronograf docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
                              --name=chronograf \
                              -v /var/local/chronograf:/var/lib/chronograf \
                              -p 8888:8888 \
                              --network {{docker_net_name}} \
                              chronograf --influxdb-url=http://influxdb:8086
ExecStop=/usr/bin/docker stop chronograf

[Install]
WantedBy=multi-user.target
